@import "variables";

#nav{
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: $navbar-color;
    font-family: 'Montserrat', sans-serif;

    a{
        font-size: 25px;
        color: $font-color;
    }

    i{
        font-size: 35px;
    }

    img{
        width: 80px;
    }
}

.nav__content{
    display: flex;
    gap: 10vw;
}

.nav__content--disabled{
    display: flex;
    gap: 100px;
}

.menu{
    display: none;
}

@media (max-width: 914px) {
    #nav{
        border: solid red;
        i{
            font-size: 50px;
        }
    }

    .nav__content{
        width: 100%;
        height: 100%;
        
    }

    .nav__content--disabled{
        display: none;
    }

    .menu{
        display: flex;
    }
}